.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
}

.gallery-image {
    overflow: hidden;
    width: 23%;
    height: auto;
    margin: 1%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .gallery {
        flex-direction: column;
        align-items: flex-start;
    }

    .gallery-image {
        width: 100%;
        margin-top: 1em;
    }
}